
<div class="container mt-5">
    <table class="table">
        <thead>
            <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Contact</th>
            <th>Resume</th>
            </tr>
        </thead>
        <tbody>
            <% applicants.forEach( e => { %>
               <tr>
                <td><%= e.name %></td>
                <td><%= e.email %></td>
                <td><%= e.number %></td>
                <td>
                    <a href="/<%= e.resume %>" target="_blank" >Resume</a>
                </td>
            </tr> 
            <% }) %>
            
        </tbody>
    </table>
</div>