

<div class="row m-container-text">
  <div class="col-8">
    <h1>A comprehensive platform for reliable jobs</h1>
    <h2>job opportunities and internships.</h2>
    <h4>Get Discovered Get Hired</h4>
    <!-- <a href="/register" class="btn btn-outline-dark">I'm a Job Seeker</a>  -->
    <!-- <a href="/register" class="btn btn-dark">I'm a Recruiter</a>  -->
     <% if(!userrrrEmail) { %>
    <a href="/register" class="btn btn-lg btn-outline-dark me-3">Register</a>
    <a href="/login" class="btn btn-lg btn-dark m-3">Login</a>
    <% } %>
    <!-- <button class="btn btn-dark">I'm a Recruiter</button> -->
  </div>
  <div class="col-4">
    <!-- <img src="https://t3.ftcdn.net/jpg/04/45/30/00/360_F_445300032_8BOeLM2RyS8hFgjPgZ8OMPXUelRCySun.jpg"  -->
    <img
      src="https://media.istockphoto.com/id/1281150061/vector/register-account-submit-access-login-password-username-internet-online-website-concept.jpg?s=612x612&w=0&k=20&c=9HWSuA9IaU4o-CK6fALBS5eaO1ubnsM08EOYwgbwGBo="
      alt="register-img"
      class="home-pg-img"
    />
    <!-- <img src="https://www.shutterstock.com/image-vector/concept-sign-page-on-computer-260nw-1145293103.jpg" 
          alt="register-img" class="home-pg-img"> -->
  </div>
</div>
