
    
      <div class="row m-container-text ">
        <div class="col-8">
          <h1>A comprehensive platform for reliable jobs</h1>
          <h2>job opportunities and internships.</h2>
          <h4>Get Discovered Get Hired</h4>
          <button class="btn btn-outline-dark">I'm a Job Seeker</button>
          <button class="btn btn-dark">I'm a Recruiter</button>
        </div>
        <div class="col-4">
          <!-- <img src="https://t3.ftcdn.net/jpg/04/45/30/00/360_F_445300032_8BOeLM2RyS8hFgjPgZ8OMPXUelRCySun.jpg"  -->
          <img src="https://www.shutterstock.com/image-vector/concept-sign-page-on-computer-260nw-1145293103.jpg" 
          alt="register-img" class="home-pg-img">
        </div>
      </div>
    

