<div id="job-detail">
  <h1 class="mb-5">SDE opportunity at Gurugram HR Ind remote at coding ninjas</h1>
  <div class="row">
    <div class="col">
      <p>
        Coding Ninjas <br />
        Tech: SDE
      </p>
      <i></i>
      <p>loc:Gurugram</p>
      <i></i>
      <p>10lpa</p>
      <i></i>
      <p>Apply by 30Aug</p>
      <i></i>
      <p>Number of openings: 5</p>
      <i></i>
      <p>Applicants: 1</p>

      <p>Skills</p>
      <span class="skill">MongoDB</span>
      <span class="skill">Express.js</span>
      <span class="skill">React</span>
      <span class="skill">Nodejs</span><br />
    </div>
    <div class="col">
        <img src="https://cxotoday.com/wp-content/uploads/2023/03/Updated_Logo_CMYK-01.png" height="400px" width="500px">
    </div>
  </div>

  <button class="btn btn-lg btn-outline-light mt-3 text-center">Apply Now</button>
</div>
