<div class="d-flex">
<div class="card h-100 bg-dark text-light">
    <div class="card-header text-center">
        <h2>Go Digit</h2> 
    </div>
    <div class="card-body">
        <h4>Tech: MERN Developer</h4> 
        <p>Location:Pune Sallary: $500-1000</p>
        <!-- <p></p> -->
        <p>Skills</p>
        <span class="skill">MongoDB</span>
        <span class="skill">Express.js</span>
        <span class="skill">React</span>
        <span class="skill">Nodejs</span>
    </div>
    <button class="btn btn-outline-light">View details</button>
</div>


</div>