<div class="container" style="margin-top: 10%; font-size: 1.5rem;">
  <div class="row">
    <div class="col">
      <img
        src="https://img.freepik.com/free-vector/login-concept-illustration_114360-739.jpg"
        alt=""
        width="500px"
        height="500px"
      />
    </div>
    <div class="col">
      <form action="/login" method="post">
        <div class="mb-3">
          <label for="email" class="form-label text-dark">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            placeholder="enter your email"
            required
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label text-dark">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            placeholder="enter your password"
            required
          />
        </div>
        <div class="text-center mt-4">
          <button type="submit" class="btn btn-lg btn-dark" style="width: 40%">
            Log In
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
